.page-title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 150px 0 50px 0;
    min-height: 85px;

    &__logo {
        padding-right: 30px;
        padding-top: 6px
    }
}

