@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');


html, body {
  height: 100%;
}

body {
  background: black;
  margin: 0px;
}

.inner-peace {
  &__text {
    text-align: center;
    color: white;
    margin: auto;
  }
}

#outerglow {
  display: flex;
  justify-content: center;
  align-items: center;  
  animation: animatedGradient 18s infinite;
  width: 100vw;
  height: 100vh;
}

#innerglow {
  position: absolute;
  border-radius: 10vw;
  filter: blur(100px);
  width: 70vw;
  height: 70vh;
  animation: animatedGradient 10s infinite;
}

@keyframes animatedGradient {
  0%{background:#f79533}
  12%{background:#f37055 }
  24%{background:#ef4e7b }
  36%{background: #a166ab}
  48%{background: #5073b8}
  60%{background: #1098ad}
  72%{background: #07b39b}
  84%{background: #6fba82}
  100%{background: #f79533}
}

.secrets {
  visibility: hidden;
}

.contents {
  max-width: 960px;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 100;
  font-size: 20px;
  margin: 0px auto;
  color: #F3FAF9;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
  padding: 0 15px;

  &__main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex: 1 0 auto;
  }

  &__text-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;

    &--2col {
      flex: 50%;
    }
  }
}

.image {
  &--body {
    width: 95vw;
    max-width: 960px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    object-fit: contain;  
  }

  &--2col {
    max-width: 470px;
    width: 100%;
    height: auto;
  }

  &--about-photo {
    border-bottom: 1px solid white;
  }
}

.icon {
  &-popout,
  &-mail {
    height: 0.6em;
    width: 0.6em;  
  }
}





.not-found {
  width: 100vw;
  height: 100vh;
  background: #B20000;
  padding-top: 6rem;
  color: white;

  &__content {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
    max-width: 900px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10rem;
    text-align: center;
  }

  & a {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }
}







/* TYPE */

h1 {
  font-family: Helvetica;
  font-weight: 300;
  font-size: 7.5rem;
  line-height: 125px;
  letter-spacing: -0.05em;
  hyphens: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-block-start: 0.5em;
  margin-block-end: 0.25em;
  margin-top: 0em;
}

h2 {
  font-family: Helvetica;
  font-weight: 300;
  font-size: 4rem;
  line-height: 3.7rem;
  letter-spacing: -0.05rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

h3 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 130%;
  margin: 0;
  z-index: 1;
  margin-bottom: 1em;
}

h4 {
  font-family: Helvetica;
  // font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  box-shadow: none;
  padding: 0px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

h6 {
  font-family: Helvetica;
  font-weight: 500;
  font-size: 12px;
}

p {
  font-family: Helvetica;
  // font-family: 'Jetbrains Mono', monospace;
  font-size: 18px;
  line-height: 150%;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

small {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 90%;
  margin-block-start: 0px;
  margin-block-end: 0px;

}

::selection {
  color: #000;
  background-color: #ff0;
}



/* Media Queries */

@media (max-width: 666px) {
  .contents {
    &__text-container {
      flex-flow: column nowrap;
    }
  }

  #name {
    display: none; 
  }

  .background {
    display: none; 
  }

  .image {
    &--body {
      margin: 0px;
    }
  }
}
