
card {
    width: 450px;
    height: 200px;
    position: relative;
    border-radius: 0px;
    display: flex;
    flex-flow: row nowrap;
    background: rgba(255, 255, 255, 0.0);
    backdrop-filter: blur(5px);
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    margin-bottom: 50px;
    /* background-image: url(../images/cardcorners.svg);
    background-size: cover;
    background-repeat: no-repeat; */
    /* border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px; */
}

card:hover {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.01);
}

#cardcorners {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.imagecontainer {
    display: flex;
    align-items: center;
    width: 175px;
    height: 175px;
    position: relative;
    top: 12px;
    left: 12px;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(20px);
    border:0.5px solid white;
}

#cardimage {
    max-width: 125px;
    max-height: 125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.textcontainer {
    margin-left: 30px;
    margin-top: 15px;
}

Card p {
    color: rgba(255,255,255, 0.8);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    align-self: end;
    margin: 0 0 20px 20px;
}

.pillcontainer {
    margin-bottom: 12px;   
}