@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');

html, body {
  height: 100%;
}

.animation {
  animation: colorChange 20s infinite;
  width:100%;
  height:100%;
}

@keyframes colorChange {
  0%{stroke:#ff0000}
  33%{stroke:#0000ff }
  66%{stroke:#000000 }
  100%{stroke: #ff0000}
}

#background {
  width: 40%; 
  position: absolute; 
  left: 0px; 
  right: 0px; 
  z-index: -1;
}

#animatedbackground {
  position: absolute; 
  margin: auto;
  z-index: -2;
}

body {
  background: black;
  margin: 0px;
}

contents {
  max-width: 960px;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 100;
  font-size: 20px;
  margin: 0px auto;
  color: #F3FAF9;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
  padding: 0 15px;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex: 1 0 auto;
}

.bodyimage {
  width: 95vw;
  max-width: 960px;
  margin: auto;
}

background svg {
  position: absolute;
  top: 0;
}

footer {
  flex-shrink: 0;
}

.secrets {
  visibility: hidden;
}

/* TYPE STYLES!!!!!! */

h1 {
  font-family: Helvetica;
  font-weight: 300;
  font-size: 7.5rem;
  line-height: 125px;
  letter-spacing: -0.05em;
  hyphens: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-block-start: 0.5em;
  margin-block-end: 0.25em;
  margin-top: 0rem;
}

h2 {
  font-family: Helvetica;
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: -0.05rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

h3 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  margin: 0;
  z-index: 1;
}

h4 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  box-shadow: none;
  padding: 0px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

h6 {
  font-family: Helvetica;
  font-weight: 500;
  font-size: 12px;
}

a {
  color: #F3FAF9;
  text-decoration: none;
  padding: 3px 12px 3px 12px;
  box-shadow: inset 0px 0px 0px 1px #F3FAF9;
  border-radius: 50px;
  cursor: crosshair;
}

a:hover {
  box-shadow: inset 0px 0px 0px 40px #1502FF;
  transition: ease-out 0.2s;
}

a:active {
  color: blue;
  box-shadow: inset 0px 0px 0px 1px #1502FF;
  transition: none;
}

::selection {
  color: #000;
  background-color: #1502FF;
}



/* Media Queries */

@media (max-width: 450px) {
  #name {
      display: none; 
  }
}
