a {
    color: white;
    text-decoration: none;
    padding: 3px 12px 3px 12px;
    box-shadow: inset 0px 0px 0px 1px white;
    border-radius: 30px;
    cursor: crosshair;
  }
  
  a:hover {
    box-shadow: inset 0px 0px 0px 40px blue;
    border-radius: 30px;
    transition: ease-out 0.2s;
    cursor: crosshair;
  }
  
  a:active {
    color: blue;
    box-shadow: inset 0px 0px 0px 1px blue;
    border-radius: 30px;
    transition: none;
    cursor: crosshair;
  }
  