@import '../../styles/_colors.scss';

.js-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0px auto;
  width: 100vw;
  position: fixed;
  height: 100px;
  bottom: 0;
  z-index: 100;
  background: $js-colors__alpha__dark--2;
  backdrop-filter: blur(10px);

  &-contents {
    max-width: 960px;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    margin: auto;

    &__copyright {
      flex-grow: 1;
      color: $js-colors__base__white;
    }
  
    &__links a {
      box-shadow: none;
      flex-grow: 1;
      padding-top: 13px;
    }
  }
}

/* Media Queries */

@media (max-width: 1111px) {
  .js-footer-contents {
    padding: 1rem;
  }
}