a {
    color: #F3FAF9;
    text-decoration: none;
    padding: 3px 12px 3px 12px;
    box-shadow: inset 0px 0px 0px 1px #F3FAF9;
    border-radius: 50px;
    cursor: crosshair;
  }
  
  a:hover {
    box-shadow: inset 0px 0px 0px 40px #1502FF;
    transition: ease-out 0.2s;
  }
  
  a:active {
    color: #1502FF;
    box-shadow: inset 0px 0px 0px 1px #1502FF;
    transition: none;
  }

  .link {
    &-icon {
      margin-left: 8px;
    }
  }
  